{% extends 'base.html' %}
{% block content %}

<main class="container mt-5">
    <div class="row">
        <div class="col-md-4-offset-md-4">
            <form action="/tasks/create/" method="POST" class="card card-body">
                <h1>Create Task</h1>
                {{error}}
                {% csrf_token %}
                {{form}}
                <button class="btn btn-primary">
                    Create Task
                </button>
            </form>
        </div>

    </div>
</main>

{% endblock %}