{% extends 'base.html' %} {% block content %}

<h1>Home</h1>
<p>
  Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ducimus sit neque
  accusantium obcaecati quia omnis doloribus corrupti. Porro, libero quas,
  quibusdam autem nobis possimus quis maiores nesciunt fuga magnam aliquam
  voluptatibus mollitia assumenda impedit ratione consequatur at amet. Expedita
  eum nulla aspernatur, esse, veniam eos nihil quia quod aliquam tempora
  suscipit ad? Rem, ipsam temporibus. Asperiores magnam vero, eum dolorum
  accusantium ratione laborum omnis iusto similique quas labore ullam?
</p>

{% endblock %}
