{% extends 'base.html' %}

{% block content %}

<main class="container">
    <div class="row">
        <div class=" form-control offset-md-auto mt-5">
            <h1>{{task.title}}</h1>

            {{error}}

            <div>
                <form method="POST">
                    {% csrf_token %}
                    {{form.as_p}}
                    <button class="btn btn-primary" type="submit">Update</button>
                </form>

                <form action="{% url 'complete_task' task.id %}" method="POST">
                    {% csrf_token %}
                    <button class="btn btn-success">
                        Complete
                    </button>
                </form>

                <form action="{% url 'delete_task' task.id %}" method="POST">
                    {% csrf_token %}
                    <button class="btn btn-danger">
                        Delete
                    </button>
                </form>
            </div>
        </div>
    </div>
</main>

{% endblock %}