<section class="card">
    <div class="card-body">
        <h1>About</h1>
        <p>Lorem ipsum, dolor sittrtrrt amet consectetur adipisicing elit. Earum perferendis quo ipsa porro dolorem architecto soluta officia optio nobis adipisci.</p>
    </div>
</section>