<div class="card border-light mt-2">
  <h1 class="card-header mb-2 text-center">Private Online Notes</h1>
  <p class="card-body">If you're searching for the best Online Free Notes,
    you're in the right web. RussApp provided free notes storage, you just need
    to create a free account and start to create and save private notes. We
    currently provide the options of: create account, Sign in, and create online
    notes for free, but that's not all… we're working on major improvements.</p>
  <hr class="my-1" />
  <p class="card-body">Start with RussApp is easy, just create an account and
    start saving privates online notes. Make sure to remember your email and
    password, since we currently don't have an option to recover accounts.</p>
  <a href="http://russapp.xyz/users/signup" class="btn btn-primary">Create a
    free account</a>
</div>

<hr class="my-3" />

<div class="card-group">
  <div class="card border-primary mb-3" style="max-width: 20rem; mt-3">
    <div
      class="card-header d-flex justify-content-between aling-items-center"
    >Join RussApp<i class="fa fa-user-plus"></i></div>
    <div class="card-body">
      <p class="card-text">First, you'll have to create a free account. You just
        need an email and passwords to register.</p>
    </div>
  </div>
  <div class="card border-primary mb-3" style="max-width: 20rem; mt-3">
    <div
      class="card-header d-flex justify-content-between aling-items-center"
    >Create Your Notes<i class="fa fa-sticky-note"></i></div>
    <div class="card-body">
      <p class="card-text">Then, you'll be able to log in your free account and
        add notes as much as you require for free.</p>
    </div>
  </div>
  <div class="card border-primary mb-3" style="max-width: 20rem; mt-3">
    <div
      class="card-header d-flex justify-content-between aling-items-center"
    >Save Your Notes<i class="fa fa-lock"></i></div>
    <div class="card-body">
      <p class="card-text">Now you can back and login every time that you need
        to read, update, create or delete notes.</p>
    </div>
  </div>
</div>

<hr class="my-3" />

<div class="jumbotron jumbotron-fluid">
  <div class="card border-light mt-2">
    <h1 class="card-header-light text-center">Our Dev Progress</h1>
    <p class="card-body">This example web App is under updating, we're still
      working to improve new features, so far you play with the app by creating
      notes. Take a look at the progress bar to know more about our progress.</p>
    <hr class="my-3" />
    <div class="progress">
      <div
        class="progress-bar progress-bar-striped progress-bar-animated"
        role="progressbar"
        aria-valuenow="75"
        aria-valuemin="0"
        aria-valuemax="100"
        style="width: 55%;"
      ></div>
    </div>
  </div>
</div>

<hr class="my-3" />

<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col ">Type</th>
      <th scope="col">Column heading</th>
      <th scope="col">Column heading</th>
      <th scope="col">Column heading</th>
    </tr>
  </thead>
  <tbody>
    <tr class="table-active">
      <th scope="row">Active</th>
      <td>Column content</td>
      <td>Column content</td>
      <td>Column content</td>
    </tr>
    <tr>
      <th scope="row">Default</th>
      <td>Column content</td>
      <td>Column content</td>
      <td>Column content</td>
    </tr>